/*CSS flha com varios estilos em cascata. o ultimo sobscreve o anterior*/
* {
  margin: 0;
}
html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%); /*variavel*/

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased; /*suavisa e deixa mais limpo as letras para navegadores webkit*/
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg);
  width: 375px;
  height: 812px;
}

.content {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative; /*referência da posição*/
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  /*o sinal > define o nível do avatar*/
  width: 10rem;
  height: 11.5rem;
  object-fit: cover; /*volta a proporsão correta*/

  clip-path: polygon(
    50% 0,
    100% 25%,
    100% 75%,
    50% 100%,
    0 75%,
    0 25%
  ); /*formato da imagem*/
}
h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none; /*tira as bolinhas da lista*/
  padding: 0; /*tira o preenchimento*/
  display: flex; /*alinha no eixo vertical (ou X ou Main) */
  gap: 0.5rem; /*espaçamento entre eles*/
  justify-content: center; /*alinhamento no eixo x pra corrigir,liberado pelo flex (text align serve pra textos)*/
}
